@import url('https://fonts.googleapis.com/css?family=Oswald');

body {
  margin: 0;
  font-family: 'Oswald', sans-serif;
}

.logo {
  display: inline;
}

.navbar {
  background-color: black;
  height: 100px;
}

.container {
  max-width: 1300px;
  margin: 0px auto;
}

.links {
  float: right;
  margin-top: 18px;
}

.links ul li {
  padding: 0;
	display: inline;
  margin-left: 15px;
}

.links li a {
  text-decoration: none;
  color: white;
  font-weight: 500;
  font-size: 22px;
  transition: color 0.2s ease-in-out;
}

.links li a:hover {
  color: red;
  transition: color 0.2s ease-in-out;
}

section {
  padding: 0;
}

.panel {
  border-style: solid;
  border: 1px;
  border-color: black;
}

.panel ol {
  padding: 0;
}

.panel li {
  text-align: center;
  display: inline-block;
	width: 300px;
	vertical-align: top;
  padding-top: 10px;
  margin-left: 18px;
}

.panel li figure {
  margin: 0;
}

.panel li img {
  border-radius: 10px;
}

.text {
  text-align: left;
  margin-left: 10px;
  margin-top: -15px;
}

.text p {
  margin-top: -15px;
  font-weight: 600;
}

.panel li:hover {
  cursor: pointer;
  border-radius: 10px;
  background-color:  #e6e9ef;
  box-shadow: 10px 10px 5px grey;
}

.map {
  display: inline;
}

.location-text {
  display:inline;
  width: 470px;
  float: right;
}

.location-text h3 {
  margin: 0;
  color: red;
}

.location-text {
  font-family: 'Open Sans', sans-serif;
}

footer {
  background-color: black;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.footer {
  font-family: 'Open Sans', sans-serif;
  color: white;
  padding-top: 20px;
  position: relative;
}

.vertical-logo {
  display: inline;
  float: left;
  width: 325px;
  color: white;
}

.vertical-logo p {
  margin: 0;
  margin-top: -10px;
}

.news {
  display: inline;
  width: 325px;
}

.news h2 {
  margin: 10px 0;
}

.news input {
  margin-bottom: 30px;
  height: 24px;
  border-radius: 5px;
  border: 1px solid black
}

.address {
  display: inline;
  float: right;
  margin-top: -100px;
}

.panel-fin {
  background-color: #d1d3d6 ;
  width: 450px;
  padding-left: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  border-radius: 10px;
}

.input p {
  margin-bottom: 0;
  margin-top: 10px;
}

.input input {
  height: 25px;
  border-radius: 5px;
  border: 0;
}

.actions input {
  height: 25px;
}

.actions {
  margin-top: 10px;
  margin-bottom: 10px;
}
